.container section.games article {
    width: 400px;
    height: auto;
    box-shadow: 0 0 10px #636E72;
    margin: 10px;
    padding: 5px;
}
.container section.games figure {
    margin: 10px;
}
.container section.games h4 {
    text-align: center;
}
.container section.games figure div {
    position: relative;
}
.container section.games figure div img {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: 14rem;
    object-fit: cover;
}
.container section.games figure div div.note {
   position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
}
.container section.games figure div div.note div:first-child {
    padding: 10px 0;
    font-size: 1.2rem;
    text-align: center;
}
.container section.games figure figcaption {
    padding-top: 5px;
}
