.container header div.search {
    position: relative;
}

.container header div.search input{
    width: 80%;
    font-size: 1.4rem;
    outline: none;
    border: none;
    height: 35px;
    line-height: 35px;
    text-align: center;
}

.container header div.search ul{
    position: absolute;
    list-style: none;
    top: 35px;
    left: 0;
    right: 0;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    z-index: 1000;
    color: #2f3640;
    padding: 0;
    height: 150px;
    overflow-y: scroll;
}


.container header div.search ul li{
    padding: 5px 0;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, white, black, white) 1 stretch;
}

.container header div.search ul li:hover{
    background-color: #2f3640;
    color: #fff;
}
